
<head>
    <title>Node.js express mongDB CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="bar">
    <a class="btn btn-secondary" href="/doctor"><i class="fa fa-plus"></i> Create New</a>
    <h3>Doctor List</h3>
     </div>
<table class="table-style">
    <thead>
        <tr>
            <th >Name</th>
            <th >Email</th>
            <th>Mobile</th>
            <th>Major</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td  class="th-style">{{this.name}}</td>
            <td  class="th-style">{{this.email}}</td>
            <td  class="th-style">{{this.mobile}}</td>
            <td class="th-style">{{this.major}}</td>
            <td>
                <a href="/doctor/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/doctor/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>